    <div style="width: 100%; height: 100%; position: absolute;z-index: 0 ; background-color: rgb(255, 249, 189);">

    
    <div style="width: 100% ;height: 50%; " *ngIf="proj "  >
        <button class="btn btn-danger btn-lg" style="margin-left: auto; display: block;" (click)="deleteProject()">удалить..</button>
        <div class ='taskListsDiv' cdkDropListGroup > 
            <div *ngFor="let taskList of taskLists; index as i ;" class="taskList overflow-auto list-group" cdkDropList
            [cdkDropListData] ="taskList.tasks"
            (cdkDropListDropped)="dropEvent($event,taskList)">
                <div class="taskListName bg-info"> 
                    <div style="font-size: large;">
                        {{taskList.name}}
                    </div>
                    <div *ngIf="taskList.name == 'new'" style="background-color: rgb(255, 249, 189); cursor: pointer; font-size: x-large;" (click)="rednerTaskForm()">
                        +
                    </div>
                </div>
                    <div cdkDrag  *ngFor="let task of taskList.tasks " class="taskName list-group-item bg-warning"  style="cursor: pointer; margin-top: 1.5%; height: 15%;" >
                        <div (click)=" navigateToTask(task.id)" >
                            {{task.name}}
                        </div>
                        
                        <div (click)="takeTask(task)">
                            взять
                        </div>
                        <div (click)="deleteTask(task,taskList)" >
                            X
                        </div>
                        <div (click)=" navigateToTask(task.id)" >
                            коментарии({{task.comments.length}})
                        </div>  
                    </div> 
                </div>
            </div>
        </div>
        <div style="width: 100%; text-align: center; font-size: large; ">Исполнители</div>
        <div class ="perfomers" *ngIf ="proj">
            <div (click)= "toggleInputLine()" style="font-size: large; " >...пригласить </div>
            <div *ngIf="creatingInvite">
                <app-invite (onNewProjectInvite)=" onInvite($event)" [creating]='inviteData'>
                </app-invite>
            </div>
            <div *ngIf ="!proj.perfomers.length" class="noPerfomers">
                <div>В этом проекте нет никого кроме вас, пригласите кого-нибудь</div>
            </div> 
            <div *ngIf = "proj.perfomers.length" >
                <div *ngFor="let perfomer of proj.perfomers; index as i" class="perfomer"  style="margin-left: 2%;">{{i+1}}.{{perfomer.email}}</div>    
            </div>
        </div>
        <div style="width: 100%; text-align: center;font-size: large;">Приглашенные</div>
        <div class="perfomers" >
            <div *ngFor="let invited of proj.invited; index as i" style="margin-top: 1.5%;margin-left: 0.75%; font-size: larger; background-color: inherit;" class="card" >
                <div style="margin-top: 0.5%; margin-bottom: 0.5%;">
                    {{i+1}}.{{invited.email}}
                </div>
            </div>
        </div>
        
    <div *ngIf="renderService.renderTaskForm" style="position: absolute ;left: 0; top: 0;" >
        <app-task-form (onCancel)="onModalWindowCanel()" ></app-task-form>
    </div>
    <div *ngIf="isDeleted">
        <app-deleted-window (deletedWindow)="deletedProjectProcessing($event)">
        </app-deleted-window>
    </div>
        
            
</div>
