:host {
    width: 100%;
    height: 100%;
    position: fixed;
}
.authDiv {
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 240, 212);
}
.authDiv div {
    display: block;
    width: 50%;
}
.enter {
   width: 25%;
}
.authDiv div input {
    width: 100%;
    margin-left:50%;
    
}
.loginDiv {
    margin-top: 27%;
}
.passwordDiv {
    margin-top: 4%;
}
.regDiv {    margin-top: 7%;

    width: 15% !important;
    margin-left :  auto;
    margin-top: auto;
    
}
.reg-btn{
    width: 100%;
}
.submit-div{
    width:50%;
    margin-left:25%
}