<div style="width: 100%; height: 100%;">
    <div style="width: 100%;  background-color: coral; text-align: center;">
        this is your projects!
    </div>
    <div style="width: 80%; background-color: floralwhite; border:  1px black solid; height: 30%; margin-left: 7.5%; margin-top:10%">
        <div (click)="initForm()" class="toForm" style="cursor: pointer;">add new</div>
        <div *ngFor="let project of projects;index as i" >
            <div (click)='navigateToProject(project.id  ) ' style="margin-left:6%; margin-top: 0.5%; cursor: pointer;" >{{i+1}}: {{project.name}}</div>
    </div>
    </div>
    <div *ngIf="renderForm"  style="position: absolute; width: 100%; height: 100%; top: 0;" >
        <app-project-form (onCancel)="turnOffProjectForm()"></app-project-form>
    </div>
</div>
