
    <div>
        <div *ngIf='invalidInvite'>invalid inivte or user not found! </div>
        <div *ngIf='processing'> processing..</div>
        <div><input required type="text" placeholder="user email or id" [(ngModel)]="invitedId" ></div>
        <div><input type="text" placeholder="some text to user" [(ngModel)]="text"></div>
        <div><button type="submit" placeholder="send" (click)="inviteTo(invitedId,creating.inviteTo,creating.inviter)" appDisabled class="btn btn-primary"></button></div>
    </div>        
    
            