<p>invites</p>
<div *ngIf="currentUser">
    <div *ngIf="currentUser.invites">
        <div *ngFor="let invite of currentUser.invites" class = 'invite'>
            <div>
                {{invite.inviteToModel.name}}
            </div>
            <div>
                {{invite.inviterModel.name}}
            </div>
            <div style="height: 100%; width: 15%;">
                <button (click)="acceptInvite(invite)" style="width: 50%; height: 100%;" > </button>
                <button (click)="rejectInvite(invite)" style="height: 100%; width: 50%" ></button >
            </div>
        </div>
    </div>  
    <div *ngIf="!currentUser.invites.length">
        <div class = "invite" style="background-color: coral;">
            no invites yet :(
        </div>
    </div>
</div>  