<div style=" background-color: linen; cursor: pointer;" (click)="goToAuth()">
назад
</div>
<div class ="regDiv">
    
    <div style="position: absolute; width: 100%; height: 100%;top:40%">

        <div class ="emailDiv inputDiv ">
            <input type = "text" minlength="6" maxlength="30" required ngModel name = "login" #login="ngModel" placeholder="email" style="height: 150%;">
            <div class = " allert" *ngIf = "login.touched && !login.valid" >
                <div *ngIf = "login.errors.required">email обязателен</div>
                <div *ngIf = "login.errors.minlength">email должен быть минимум {{login.errors.minlength.requiredLength}} символов </div>
            </div>
        </div>
        <div class = "passwordDiv inputDiv"> 
            <input type = "text"  minlength="6" maxlength="20" required ngModel name = "password" #password="ngModel" placeholder="пароль" style="height: 150%;" >
            <div class = "allert" *ngIf="password.touched && !password.valid" >
                <div *ngIf = "password.errors.required">пароль обязателен</div>
                <div *ngIf = "password.errors.minlength">пароль должен быть минимум {{password.errors.minlength.requiredLength}} символов </div>
            </div>
        </div>
        <div style="margin-top: 3%;">
            <button class ="btn btn-primary" (click) = 'registre(login.value,password.value)' appDisabled >создать</button>
        </div>
        
    </div>
</div>